aws_region       = "us-east-1"
project_name     = "meridian-support-chatbot"
frontend_instance_type = "t3.small"
backend_instance_type  = "t3.small"
ssh_key_name     = ""
allowed_ssh_cidr = "0.0.0.0/0"
hosted_zone_name = "home.jaraflytech.com"
frontend_subdomain = "meridian"
backend_subdomain  = "api"
